.container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

.column {
    display: inline;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    width: 300px;
}

/*.border-right {
    padding-right: 9px;
    border-right: 1px solid gray;
}

.border-left {
    padding-left: 9px;
    border-left: 1px solid gray;
}

.border-both {
    padding-left: 9px;
    padding-right: 9px;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}*/