<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>PerlFlows</title>

<link rel="stylesheet" type="text/css" media="all" href="/css/reset.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/grid.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/960.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/text.css" />
<link rel="stylesheet" type="text/css" media="all" href="/css/main.css" />
</head>
<body>
  
<div class="container header">
  <h1>PerlFlows</h1>
  [% IF C.user %][% C.user.display %][% ELSE %]<a href="/user/login">Войдите через OpenID</a>[% END %]
</div>
<div class="container_12">
  <div class="grid_8">
   <h5>Far East Perl Workshop</h5>
   <p>26 сентября во Владивостоке пройдет второй российский воркшоп по перлу. Будет много всего интеересного. Приходите к часу во ВГУЭС в аудиторию 1013.</p>
 
   <h5>South Perl</h5>
   <p>Воркшоп «South Perl» является третьим Российским Perl-мероприятием в 2008 году. Россия большая страна, и за одну конференцию невозможно обсудить все, что происходит с Perl в России. 
   Perl-воркшопы проходили в Москве, Киеве, Владивостоке и Минске. До сих пор Юг России не был охвачен. Пришла очередь Ростова-на-Дону :-)</p>
 
   <h5>Parrot Developer Summit</h5>
   <p>15 и 16 ноября состоится первый саммит разработчиков Parrot. Важно отметить, что он пройдет в помещении Google.</p>
  </div>
  <div class="grid_3 prefix_1">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    <!-- <h2>YAPC::TV</h2>
    
    <h5><a href="http://yapc.tv/2008/ye/lt/lt1-02-breunung-kephra/">Say hello to Kephra</a></h5>
    <p>Herbert Breunung. 13 August</p>
    
    <h5><a href="http://yapc.tv/2008/ye/jonathan-types/">Putting Types To Work In Perl 6</a></h5>
    <p>Jonathan Worthington. 13 August</p>
    
    <h5><a href="http://yapc.tv/2008/ye/brian-backpan/">Indexing BackPAN</a></h5>
    <p>brian d foy</p>
    
    <h5><a href="http://yapc.tv/2008/ye/brian-backpan/">A.B.C.D.E.F.G.</a></h5>
    <p>Damian Conway. 15 August 2008</p>
    
    <h5><a href="http://yapc.tv/2008/ye/jonathan-oop/">Object Orientation, The Perl 6 Way</a></h5>
    <p>Jonathan Worthington. 13 August 2008</p> -->
  </div>
  <!-- <div class="column border-left">
    <h2>CPAN::Live</h2>
    
    <h5><a href="http://search.cpan.org/~markf/XML-Easy-ProceduralWriter-1.00/">XML-Easy-ProceduralWriter-1.00</a></h5>
    <p>even easier writing of XML</p>

    <h5><a href="http://search.cpan.org/~szabgab/Padre-0.09/">Padre-0.09</a></h5>
    <p>Perl Application Development and Refactoring Environment</p>

    <h5><a href="http://search.cpan.org/~ronaldws/CGI-Carp-Throw-0.04/">CGI-Carp-Throw-0.04</a></h5>
    <p>CGI::Carp exceptions that don't look like errors.</p>

    <h5><a href="http://search.cpan.org/~lamprecht/Tk-EntrySet-0.06/">Tk-EntrySet-0.06</a></h5>
    <p>display/edit a list of values in a Set of Widgets.</p>
    
  </div> -->
</div>

</body>
</html>